.qc-modal {
    position: fixed; 
    width: 85%;
    background: white; 
    border: 1px; 
    z-index: 2000;
    border: 1px solid #888888;; 
    top: 5%;
    left: 5%;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    overflow: scroll;
    height: 80%;
}  

.qc-modal-background {
    background: black; 
    width: 100%;
    height: 100%;
    position: fixed; 
    z-index: 1999;
    opacity: 0.5;
    top: 0px;
    left: 0px;
}

.qc-modal-header {
    min-height: 40px;
    background: #507299; 
    color: white; 
    font-weight: bold; 
    font-size: 14px;
    padding: 5px; 
}

.qc-modal-body{
    padding: 5px;
}