<br>

<button class="btn btn-sm btn-primary m-b-10" (click)='settingManager = true'>
  <i class="fa fa-user"></i> {{manager ? 'НУ: ' + manager.name : 'Назначить начальника участка'}}
</button>
<button class="btn btn-sm btn-primary m-b-10" *ngIf="auth.isInRole('OkkInspector,OkkAdmin,Admin') && typeId != '5'" [routerLink]="['../scheme']">
  <i class="fa fa-plus"></i> Добавить схему
</button>
<ng-container *ngIf="typeId == '5'">
  <a *ngFor='let scheme of (schemes|async)' class="btn btn-sm btn-white m-r-5 m-b-10" [routerLink]='["../../scheme", scheme.id]' title="Схема квартиры">
    <i class="fa fa-crop"></i> {{scheme.title}}
    <ng-container *ngIf='scheme.notMatches > 0'>:
      <span class="text-danger">{{scheme.notMatches - scheme.fixed}}</span>/{{scheme.notMatches}}
    </ng-container>
  </a>
</ng-container>


<app-okk-area-part-list [parts]='children' [partTypeId]="typeId"></app-okk-area-part-list>


<div *ngIf='settingManager' class="modal fade in" id="modal-dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)='settingManager = false' aria-hidden="true">×</button>
        <h4 class="modal-title">Начальник участка</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-3 control-label">Назначен:</label>
            <div class="col-md-9">
              <select [(ngModel)]='managerId' class="form-control">
                <option *ngFor="let item of managers" [value]='item.id'>{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" (click)='settingManager = false'>Отменить</a>
        <a href="javascript:;" class="btn btn-sm btn-success" (click)='setManager()'>Сохранить</a>
      </div>
    </div>
  </div>
</div>