.btn-group-ppo{
    display: block;
}
.btn-ppo{
    text-align: left;
    font-size: 12px;
}
.insertVariant{
    cursor: pointer;
}
.ui-tree {
    width: 100% !important;
}
.left-panel {
    float: left; margin-right: 10px;
}
.right-panel {
    overflow: hidden; padding-left: 10px; padding-right: 10px;
}