<span>
   <label style="float:left"> Удельный вес: </label>&nbsp;&nbsp;&nbsp;
    <input type="number" min="0" max="100" [(ngModel)]="percentage" class="form-control btn-xs" [attr.disabled]="editMode ==false?'':null"
      style="width:70px; float:left;" />
    <button class="btn btn-primary btn-xs" (click)="enableEdit(true)" title="Редактировать удельный вес" *ngIf="editMode == false">
      <i class="fa fa-pencil"></i> %</button>
    <button class="btn btn-success btn-xs" (click)="savePercentage()" title="Сохранить" *ngIf="editMode == true">
      <i class="fa fa-check"></i>
    </button>
    <button class="btn btn-danger btn-xs" (click)="enableEdit(false)" title="Отменить" *ngIf="editMode == true">
      <i class="fa fa-close"></i>
    </button>

  </span>
