<h5 class="text-center">{{title}}</h5>
<div class="form-group">
  <label class="col-md-3 control-label">Название</label>
  <div class="col-md-9">
    <input type="text" class="form-control" placeholder="..." [(ngModel)]='model.title'>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">Схема</label>
  <div class="col-md-9">
    <app-file [(ngModel)]='model.image'></app-file>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label"></label>
  <div class="col-md-9">
      <button class="btn btn-success" (click)='save()'>
        <i class="fa fa-plus"></i> Отправить</button>
  </div>
</div>