
<p-dataTable [value]="materials" selectionMode="single" [(selection)]="selected" [paginator]="true" rows="20" [responsive]="true">
  <p-header>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog(true)" label="Добавить"></button>
      <button type="button" pButton icon="fa-edit" style="float:left" *ngIf="selected" (click)="showEditDialog(true)" label="Редактировать"></button>
      <button type="button" pButton icon="fa-plus" style="float:left" *ngIf="selected" (click)="showRemoveDialog(true)" label="Удалить"></button>
    </div>

  </p-header>

  <p-column field="name" header="Наименование" [sortable]="true"></p-column>
</p-dataTable>

<p-dialog header="Добавление материала" [(visible)]="showAddDialogFlag" [responsive]="true"
  showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12" padding="2">
      </div>
      <div class="ui-grid-col-4" padding="2" data-width="200">
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <div class="ui-grid ui-grid-responsive ui-fluid" style='min-width: 550px;'>  
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="lastName">Наименование</label></div>
      <div class="ui-grid-col-8"><input class="form-control" pInputText id="lastName" [(ngModel)]="newMaterial.name" /></div>
    </div>   
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="showDialog(false)" label="Закрыть"></button>
      <button type="button" pButton icon="fa-check" (click)="add()" label="Сохранить"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="Удалить материал" [(visible)]="showRemoveDialogFlag" [responsive]="true"
showEffect="fade" [modal]="true">
<div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12" padding="2">
    </div>
    <div class="ui-grid-col-4" padding="2" data-width="200">
    </div>
  </div>
</div>

<br/>
<br/>
<div class="ui-grid ui-grid-responsive ui-fluid" style='min-width: 550px;'>  
  <div class="ui-grid-row">
    Вы действительно хотите удалить {{newMaterial.name}} материал?
  </div>   
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" pButton icon="fa-close" (click)="showRemoveDialog(false)" label="Закрыть"></button>
    <button type="button" pButton icon="fa-check" (click)="remove()" label="Удалить"></button>
  </div>
</p-footer>
</p-dialog>


